[2017-02-23 15:07] #157 closed

[2017-02-23 15:15] florianb commented on #157
@brumm i rolled the patch out for this issue. I'd appreciate if you could confirm that this issue is fixed.

[2017-03-05 12:47] deitch commented on #95
@florianb I still am struggling with this. Sometimes it works, sometimes not. My `.editorconfig` is straightforward, basically soft-tabs for everything except Makefile:

[code]

And yet it seems random as to when I get it to insert tabs, when spaces. I tried with my Atom settings both auto with "Soft Tabs" checked and unchecked.

Is there a way to debug it, to get editorconfig package to tell what

[2017-03-06 19:34] florianb commented on #95
@deitch - thank you very much for reporting this! You can check atom-editorconfig's applied settings with the "EditorConfig: Show State" command.

Since we made a lot of changes to the package internals i'd like to ask you opening a new issue for this, including all necessary information (described in the template). Thank you very much in andvance! 🌷

[2017-03-09 05:29] deitch commented on #95
@florianb thanks. That is very helpful. As I said before, it seems somewhat random. As soon as I have it reproduce, I will use the `EditorConfig: show state` command to grab it and open a new issue.

[2017-03-12 07:26] audreytoskin opened #184 "Integrate `max_line_length` property with Atom Autoflow package"
The [Autoflow](https://github.com/atom/autoflow) package provides a `reflow` command, which rearranges and hard-wraps the current "paragraph" or selection to be a block of text with each line close to but no more than the value of Atom's global `editor.preferredLineLength` property. (It's mostly useful for plain prose, and (certain) markup languages, but I use it a lot for those cases.) I think it

[2017-03-13 09:12] florianb commented on #184
Hi @terrycloth - thank you for getting in touch. I am not 100% sure what you're after.

The interception of the wrap-guide package causes some continuous amount of work and is something i intentional chose to deliver. Besides of that, depending on the wrap-guide package solves a lot of headaches and some issues in the history of this package.

I currently dont's see that Autoflow is in any case wo

[2017-03-13 22:28] terrycloth commented on #184
The [Atom Packages listing](https://atom.io/packages/autoflow) shows that Autoflow has been downloaded 294,508 times, a similar number as have downloaded EditorConfig, which I think makes it among the more popular Atom packages. I guess I don't know what the numbers are for people who use *both*, but I would assume a nontrivial number.

I can see the argument that maybe Autoflow should implement i

[2017-03-13 23:14] florianb commented on #184
Autoflow is a core package and even though probably every Atom user has Autoflow installed, you are the first user demanding that feature. That's how I tried to derive the significance - it wasn't meant to be offensive.

We will see how they respond. I would be happy to make Autoflow's support for editorconfig happen.

[2017-03-14 16:00] codeofsumit opened #185 ".editorconfig not applied"
### Involved .editorconfig-files

[code]

### Directory structure

sorry I don't know what `tree` is (not installed)
![image](https://cloud.githubusercontent.com/assets/2399810/23909478/28eec654-08d7-11e7-9e40-1827bfda52cf.png)

### Installed packages

[code]

The editor still shows 2 spaces indentation
![image](https://cloud.githubusercontent.com/assets/2399810/23909619/8734166a-08d7-11e7-9ed9-48

[2017-03-14 19:01] florianb commented on #185
Hi @codeofsumit, thanks for reporting that. I'm sorry for the confusion about `tree` i have to change that.

Could you please invoke the EditorConfig: Show Status command in that misformatted file and paste the output here? I would like to know which attributes are being applied.

[2017-03-15 07:34] codeofsumit commented on #185
You mean Show State?
![image](https://cloud.githubusercontent.com/assets/2399810/23937820/c232e2a0-0959-11e7-988e-5bc68c2eb62d.png)

That's the output for the file mentioned in my previous comment.
![image](https://cloud.githubusercontent.com/assets/2399810/23937847/dff14fe8-0959-11e7-8b4e-0f00d47cd60b.png)

Mhhh now after waking up the mac again, I reopened all the files and it seems to be workin

[2017-03-15 07:34] #185 closed

[2017-03-15 07:54] florianb commented on #185
No worries, thank you for reporting the issue. I guess this may be caused by a community package. I will dig into this as soon as i have some spare time. :)

[2017-03-22 16:58] mhulse opened #186 "Is this a replacement for the whitespace package?"
Editor config addon let's me know there are potential conflicts with White Space package.

How many of you disable white space package in place of this addon?

I usually have an `.editorconfig` for all my projects, but sometimes not.

~~Out of curiosity, to the other users, How do you manage editorconfig plugin and whitespace package/atom indentation settings?~~

What is the recomendation for Atom

[2017-03-23 10:11] florianb commented on #186
@mhulse - that's a pretty good question. Currently we're not replacing 100% of the whitespace package's functionality (namely most of the exposed commands, f.e. to turn leading spaces into tabs and vice versa).

atom-editorconfig should respect Atom's default configuration if there is no editorconfig property found (or editorconfig file at all). Using the "Fix File"-command allows you to reformat

[2017-03-23 10:13] florianb opened #187 "Prepare for multiple columns in the wrap guide"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Rewarded-%237E24E3.svg" />](https://oss.issuehunt.io/r/sindresorhus/atom-editorconfig/issues/187)

Theres currently a PR for multiple columns in the wrapguide package: https://github.com/atom/wrap-guide/pull/56

This PR will break our current interception.

The requested implementations seems to be pretty stable, read

[2017-03-23 16:03] mhulse commented on #186
Very helpful! Thank you so much @florianb, I greatly appreciate the help. :)

I have not used the "fix file" command, that's cool! Looking forward to using it.

I think I will just go for a full-on replacement and try to have `.editorconfig` in all projects.

Thanks again for your help!

I ❤️  editorconfig!

[2017-03-23 16:03] #186 closed

[2017-03-24 12:25] florianb commented on #186
@mhulse i am happy to hear that! Enjoy using Atom-Editorconfig and feel free to come back if you face any issues or have any other feedback! 😄  🎁

[2017-04-12 15:16] danielbayley opened #189 "linter-editorconfig?"
I was just wondering if this package might be better as a [linter](https://atom.io/packages/linter) plugin? _linter-editorconfig_ maybe…

[2017-04-12 17:44] florianb commented on #189
Hi @danielbayley - thanks for your suggestion. I know about the linter-environment. But i believe Atom-Editorconfig stays better a stand-alone package since it actively manipulates the editor's inner settings. Even though it is able to indicate some errors in your current files it is more about ensuring your editor is set up according to your `.editorconfig` settings.

This question also popped up

[2017-04-12 17:44] #189 closed

[2017-04-18 06:38] florianb opened #190 "max_line_length-guide is broken"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/atom-editorconfig/issues/190)

..since the usage of the wrap-guide element has changed, and the wrap-guide instance isn't part of the DOM-element anymore.

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Sponsors (Total: $40.00)

- [<img src='h

[2017-04-20 06:31] dmig opened #191 "Huge startup time with lot of files in project directory"
Timecop shows, that editorconfig is the slowest package in my installation. Startup times are always higher than 1 second: 1060-1080ms.
Doesn't matter, how many files are open at startup time (mostly 2-4). But without project package load time is around 10ms. Looks like, editrconfig makes a lot of unneded file scans.

### Involved .editorconfig-files
[code]

### Directory structure
[code]

### Ins

[2017-04-20 07:56] sindresorhus commented on #191
Weird, it takes 14ms for me.

[2017-04-20 20:14] Arcanemagus commented on #191
On a blank window I see `editorconfig` at 12 ms, however with a project open I'm seeing ~915 ms.

It looks like this time is entirely within the `require('editorconfig')` call transparently happening [here](https://github.com/sindresorhus/atom-editorconfig/blob/64b94125c9ce396be122674a191d3f8785f19356/index.js#L181). It looks like a majority of this time is taken up by undoing many source maps to

[2017-04-20 20:15] Arcanemagus commented on #191
Note that this is essentially a duplicate of #147.

[2017-04-21 06:28] athyuttamre commented on #191
+1. I see editorconfig take up nearly 92ms to startup.

<img width="316" alt="screenshot 2017-04-21 02 27 37" src="https://cloud.githubusercontent.com/assets/1485350/25265257/224d17a8-263a-11e7-81c1-ab7571e5d6b6.png">

[2017-05-01 13:46] demmer commented on #191
+1 I'm also in the camp where it's close to 1s on startup.

[2017-05-02 09:32] florianb commented on #191
Thanks for reporting this issue - i'll dig into it as soon as possible.

[2017-05-02 22:26] jamesarosen commented on #151
I think the issue was having [atom's whitespace package](https://github.com/atom/whitespace) installed.

[2017-05-11 02:59] jescalan commented on #191
Also getting more than 1 second consistently -- lmk if there's any way I can help with this! Editorconfig is an essential but with this issue I have to deactivate 😢

[2017-05-11 08:18] florianb commented on #191
Thank you very much for your offer @jescalan. I am sorry wasn't able to fix that yet. Please feel free to help us!

As @Arcanemagus already pointed out this is for sure the implementation of the initial observation of the TextEditor (https://github.com/sindresorhus/atom-editorconfig/blob/master/index.js#L166). As explanation, we're currently embedding a dedicated `editorconfig`-object into each Te

[2017-05-22 18:14] mgauthier opened #192 "indent_size rule not being applied"
When I run the command "show status" in atom, it reports that everything is correct for an xml file that I have deliberately added incorrect tab sizing to

### Involved .editorconfig-files
root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8

# 4 space indentation
[*.{java, xml}]
indent_size = 4

# 2 space indentation
[*.sh]
indent_size = 2

### Dir

[2017-05-23 08:23] florianb commented on #192
Hi @mgauthier - thanks for your report, i tried to reproduce your issue. I had to remove the whitespace after the comma (`[*.{java, xml}]` to `[*.{java,xml}]`) to make it work. So i would be happy if you could test that.

However i faced some issues updating the settings automagically after editing the .editorconfig-file which just didn't work as expected. It might be necessary to reopen the dedic

[2017-05-29 09:37] florianb commented on #190
Okaydo - i fiddled around a lot and we're not able to intercept the wrap-guide anymore. I will implement a custom max-line-length element to the package. This will land hopefully this week.

As always help is welcome and i'd be thankful if anybody would try to create it.

[2017-05-31 15:45] alaycock opened #193 "Update the grammar to allow the `unset` value for any property"
### Involved .editorconfig-files
The default [editorconfig grammar](https://github.com/sindresorhus/atom-editorconfig/blob/master/grammars/editorconfig.json).

The grammar for this editorconfig should be updated to include the updated spec for `.editorconfig` files. It allows the `unset` option to be specified for any property, per [this issue](https://github.com/editorconfig/editorconfig/issues/2

[2017-06-02 19:46] florianb commented on #193
Hi @alaycock - great finding, thanks!

As far as i remember you're right - the code should already ignore `unknown` settings and therefore interpret `unset` as `auto`.

However, i would have ideas for two little improvements:

1. It would probably be nice changing the status-result showing `unset` instead of `auto` (to stay in the terminology of the standard)?
2. It would be nice to have a test ch

[2017-06-06 07:28] #193 closed

[2017-06-06 15:53] Praveenv98 opened #195 "How to use it !"
Hi
My mentoring organisation uses editorconfig. I didn't use it so far in my projects. As a beginner how I should use editorconfig in atom. I found docs not helping me. Please provide me guidelines for using editorconfig.
Thank you...

[2017-06-06 16:03] alaycock commented on #195
The [editorconfig website](http://editorconfig.org/) should provide all the documentation you need to write your first .editorconfig file. To use the plugin you just need to install it, and the .editorconfig file should do the rest of the work.

[2017-06-06 16:09] Praveenv98 commented on #195
And one more doubt..
If I write a .editorconfig file and then I begin to code in my normal style. After completing .editorconfig will do the indentation work for me ?

[2017-06-06 16:14] alaycock commented on #195
This plugin changes your editor settings so any new code you write will match your settings (spaces vs tabs, etc). If you want to fix old code, check out something like [atom-beautify](https://atom.io/packages/atom-beautify).

If you don't indent your code, this plugin won't do anything. You still have to worry about indentation yourself.

[2017-06-06 16:18] Praveenv98 commented on #195
Thank you @alaycock !

[2017-06-06 16:18] #195 closed

[2017-06-12 13:22] flexbox commented on #147
Hello there!
Thank you for all you package is aweome!

But for me the loadingtime jump to `800+ ms`
![screen shot 2017-06-12 at 14 19 52](https://user-images.githubusercontent.com/360936/27035735-584a7d1e-4f7a-11e7-936f-22a7ac6de7c0.png)

Any clue about that?

[2017-06-12 15:54] flexbox commented on #147
**repo/api**
42360 files
_editorconfig --- 809ms_

**repo/personnal-website**
483 files
_editorconfig --- 18ms_

Smart investigation dear Watson, I don't know if you are watching `node_modules/`, `bower_components/` and others folders like `tmp/` but maybe you could avoid it

[2017-06-12 16:03] florianb commented on #147
Do you have any Files opened in TextEditor-Panes when starting Atom? 🤔 Editorconfig do much without a referencing, opened Buffer/TextEditor.

[2017-06-12 16:41] flexbox commented on #147
5 files max — It's not a big deal because I am using both sublime text and atom for differents things

[2017-06-12 16:51] Arcanemagus commented on #147
@florianb Just to note, as I said in #191 the _number_ of files open doesn't matter, only whether there is a TextEditor with a file open.

Also @flexbox either you need to update `linter-eslint`, _or_ it's your only linter provider you have installed and is unfortunately getting saddled with a large chunk of the initialization time of `linter` itself.

[2017-06-13 07:53] florianb commented on #147
Thank you @Arcanemagus i just hadn't had the time to dig through your entire post, yet.

@flexbox thank you - i will address that issue soon, as soon as possible.

[2017-06-16 08:39] KSXGitHub opened #196 "Rules are not being applied for a particular situation (See the comment for more details)"
### Reproduction steps

#### Type 1

1. In Atom, _open some files_ that are ruled by editorconfig (e.g. `indent_size`). In order to make issue appear obvious, rules in `.editorconfig` should contradict with atom's own editor settings (e.g.  `indent_size = 2` vs Atom's `Tab size = 4`)
2. _Reload_ Atom (leave editor tabs open). i.e. `Window: Reload` in Command Palette or <kbd>Ctrl-Shift-F5</kbd>
3.

[2017-06-19 08:47] florianb commented on #196
Hi @KSXGitHub - thanks for your investigation. Your issue (at least "Type 1") is related to #176.

I would like to change this behavior, but i haven't had the time to dig into it.

[2017-07-09 05:55] EmpireWorld opened #197 "Fix Shortcut Key"
Hi.

Thanks for the awesome job, but it needs a shortcut key to run Fix command.

Thanks.

[2017-07-10 07:25] florianb commented on #197
Hi @EmpireWorld - thank you very much for getting in touch. I do currently not consider adding a global shortcut for any Editorconfig functions, since there seems no significant amount of interest for that feature.

Feel free to add a shortcut for your needs by adding f.e.

    	'ctrl-alt-f':     'EditorConfig:fix-file'

to your `keymap.cson`.

[2017-07-10 07:25] #197 closed

[2017-07-10 07:59] EmpireWorld commented on #197
Nice. thanks. i will do it. good alternative.

[2017-07-12 13:13] ameenross commented on #190
Any news on this? I was just trying out the max_line_length and didn't notice any difference. Then I found this issue.

[2017-07-13 07:04] software-opal opened #198 "Tab Width not applying correctly when different from Indent Size"
I'm working on a project that uses 2-space indentation for code blocks, however uses tab indentation for intra-line indentation which uses 8-character-width tab characters.

Example code:
[code]

I've set up the editor config as follows:
[code]

However the code that is displayed in Atom is(replacing tabs with spaces to show incorrect indentation):
[code]

My understanding of the spec is that the

[2017-07-13 08:13] florianb commented on #198
Hi @leesdolphin - thank you very much for getting in touch.

This is an interesting approach but i fear besides of the fact that this isn't how the editorconfig-values are currently applied Atom does unfortunately not support the differentiation between indentation and intra-line tabs.

Currently `indent_size` and `tab_width` fall back to each other if one isn't defined and since Atom does not dif

[2017-07-14 13:18] leesdolphin commented on #198
So it looks there is a Issue open on Atom to separate the tab-character-width and the indent. But it appears to have been ignored: https://github.com/atom/atom/issues/12931

[2017-07-26 14:15] dietergeerts commented on #14
What if you share such thing through an npm module? We do this for all common configs, so it would be nice if there's a way to point to that shared file. I tried a hard link, but git just commits the file, so others don't have it as a hard link, symlinks don't work well with git, so I would like to see some kind of extend feature.

[2017-07-27 07:27] dietergeerts commented on #14
I found another way: I just copy the file in a postinstall step and have it in my .gitignore file.

[2017-07-27 07:57] florianb commented on #14
Hi @dietergeerts - thanks for getting in touch (and sharing your solution). I personally would also prefer having f.e. `~/.editorconfig` in the chain of search paths. Unfortunately i don't think the standard will implement that in the future.

[2017-08-11 16:54] fpuga opened #200 "Respect the actual line indent size instead of the defined indent_size"
I'm not sure if this is a bug or a feature, but right now instead of using the defined `indent_size` if you are typing in a line that is already indented the indent size used is the one of the actual ones and not the one in the configuration.

Steps to reproduce:

1. Create a file like this one

[code]

2. Pressing enter with the cursor in the line 1 the new line will have 2 spaces.
3. Pressing en

[2017-08-21 14:10] iainvdw opened #201 "atmom-editorconfig doesn't format anymore using set config, throws error in Atom"
Out of the blue the atom-editorconfig seemed to stop working.

### Steps to reproduce

1. Set editorconfig to indenting with 2 spaces
2. Open a .SCSS file
3. Press <tab>
4. atom-editorconfig throws an error

**Expected result:** Indenting with 2 tabs

**Actual result:** Indenting with 4 tabs, `atom-editorconfig` throws an error

**Config used:**

[code]

**Atom**: 1.19.2 x64

**Electron**: 1.6.9

[2017-08-24 09:27] guandalf opened #202 "tabType broken on settings change with no .editorconfig"
When editorconfig package is installed and no .editroconfig file is not present (I haven't tested with a .editorconfig file), changing any settings in the language-yaml builtin package, turns the tabType setting from soft to hard, resulting in hard tabs inserted in file while editing.

Forcing file type to something different from YAML and back to Autodetect, fixes the wrong tab behavior.

### Inv

[2017-08-27 19:53] samcv opened #203 "Add support for the new buffer API"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/atom-editorconfig/issues/203)

The whitespace package added support here: https://github.com/atom/whitespace/pull/157/

The new API was added to Atom here: https://github.com/atom/atom/pull/14435

This should greatly speed up removing trailing whitespace fo

[2017-08-31 08:14] florianb commented on #203
Hi @samcv - thank you very much for getting in touch and this delightful hint. I would like to add this enhancement to the next release.

I'd like to beg for patience until i'm back from vacation (next week). 😄 ☕️

[2017-08-31 08:16] florianb commented on #202
Hi @guandalf - thanks for reporting this! Please give me some time to address that, i personally won't find time to work on this until next week. Thank you in advance.. ☕️

[2017-08-31 08:17] florianb commented on #201
Hi @iainvdw - thanks for reporting this issue! Please give me some time to address that, i personally won't find time to work on this until next week. Thank you in advance.. ☕️

[2017-08-31 08:25] florianb commented on #200
Hi @fpuga - thanks for getting in touch. I will take a look at this (i guess next week), but i fear this isn't anything we can handle in this package. The reason is that we're setting the buffer's indentation in a general setting and Atom is applying the settings to the newlines independently.

[2017-09-01 04:12] samcv commented on #203
@florianb no problem. Glad the information was apreciated and thank you for your work on the EditorConfig package. :-)

[2017-09-08 10:35] florianb opened #204 "atom-editorconfig is broken"
Atom-EditorConfig seems to be broken due to substantial changes to Atom's API.

A full rewrite to 3.0.0 is pending.

[2017-09-08 10:48] florianb opened #205 "Rewrite to Stuart Little (3.0.0)"
- [ ] Recheck Atom's API-changes (Notifications, Buffer/Editor-Settings)
- [ ] Consider use of AVA
- [ ] Recheck all issues
- [ ] Rewrite test-suite
- [ ] Add code coverage

Support is very welcome. 🍻

[2017-09-08 14:06] vtambourine commented on #205
Stuart Little?

[2017-09-08 14:09] florianb commented on #205
I began to name the milestones of major releases after mice.

[2017-09-11 18:50] fpuga commented on #200
Thanks for sharing your thoughts. As I say, this can be the expected behaviour for some users. Maybe is just a matter of taste. For example, emacs, also have some weird behaviours in this topic. If the [electric-indent-mode](http://emacsredux.com/blog/2013/03/29/automatic-electric-indentation/) is enabled (and it is by default), when you press enter on a line, the current line and the next line ar

[2017-09-11 19:39] florianb commented on #200
Thanks for that hint @fpuga - this sounds pretty interesting. I think editorconfig doesn't cover that feature in general but i'll have a look.

[2017-10-02 23:27] JourneyOver opened #206 "Uncaught Error: Encoding not recognized: 'utf8bom' (searched as: 'utf8bom')"
[Enter steps to reproduce:]

1. save file as utf8bom in another editor or have `[*.ps1]
charset = utf-8-bom` in .editorconfig file and save on atom
2. try to open or save file in Atom throws errors ( and doesn't save)

**Atom**: 1.21.0-beta2 x64
**Electron**: 1.6.9
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [editorconfig](https://github.com/sindresorhus/atom-editorconfig) package 2.2.2

###

[2017-10-03 05:14] sindresorhus commented on #206
The `utf-8-bom` property is intentionally not supported as it's a bad practice: https://stackoverflow.com/questions/2223882/whats-different-between-utf-8-and-utf-8-without-bom/2223926#2223926

We should make that clear in the readme.

[2017-10-03 07:59] florianb commented on #206
@JourneyOver - thank you very much for that finding. Besides of Sindres argument, Atom doesn't support utf-8 boms in any way: https://github.com/atom/encoding-selector/issues/18

I will point that out in the readme.

I am closing this issue - but please feel free to come back if you have any further feedback or questions.

[2017-10-03 07:59] #206 closed

[2017-10-11 07:09] JourneyOver commented on #206
sorry it took me so long to get back at this, been pretty busy.. but I find that atom not supporting utf-8 boms stupid, I have several powershell scripts that have to be saved in utf-8 bom otherwise they completely break and stop working. :s

[2017-10-11 07:17] florianb commented on #206
No worries @JourneyOver - i completely understand your disappointment, as well as the disappointment of others. Besides of my opinion about BOMs in general, this is clearly something the Atom-Core must take care of.

I am really sorry i can't help you out.

[2017-10-30 10:21] heruan commented on #204
Indeed it does not work on Atom Beta with `atom-ide` packages. Is this related?

[2017-10-31 15:54] florianb commented on #204
@heruan - probably. I am currently working on a rewrite. I'll try to prioritize my work on this.

[2017-11-20 15:48] rm-code commented on #205
I'm confused ... I mean we are on `2.2.2` already?

[2017-11-20 15:49] rm-code commented on #204
It seems to work for me on Atom `1.22.1`.

[2017-11-20 17:31] florianb commented on #204
Thanks for the feedback @rm-code - unfortunately some functions may not work as expected. But i am still working on the rewrite.

[2017-11-20 17:31] florianb commented on #205
Right - fixed, thanks

[2017-11-21 18:47] rm-code opened #207 "Option to preserve whitespace on line with cursor"
I'm not sure if this would violate the editorconfig specifications, but it would be nice to have an option/setting which preserves whitespace on lines where the cursor currently is at.

Take a look at this example:
![foo 2](https://user-images.githubusercontent.com/11627131/33090503-82e88e22-cef4-11e7-83c2-697bdf7645fb.gif)

When the tab loses focus and the file is saved the whitespace is removed.

[2017-11-22 09:45] florianb commented on #207
Thank you very much for your suggestion @rm-code, but i fear this is not possible as long as `trim_trailing_whitespace` is set to `true`.

If this annoys you, i'd like to refer to the https://github.com/editorconfig/ project, you may start a discussion there, either for implementing a new property or refinement of the current definition of the rule.

I'm going to close this issue since we can't so

[2017-11-22 09:45] #207 closed

[2017-11-27 01:33] jsolisu opened #208 "Problem disabling package"
When the package is disabled, the event subscription to ActivePaneItem is not unsubscribed.

[code]

Maybe the solution is to use a variable to receive the result of observeActivePaneItem and call dispose() to unsubscribe when package is disabled.

[2017-12-20 06:01] mhulse opened #209 "Case sensitive; editorconfig spec says it should not be?"
Atom 1.23.1
Atom EditorConfig 2.2.2

### Involved .editorconfig-files

[code]

### Directory structure

[code]

Noticing that `vagrantfile` does not match the file name of `Vagrantfile`, though, the [docs](http://editorconfig.org/) say:

Thanks!

[2017-12-20 17:27] florianb commented on #209
The cited sentence applies for properties and their values, not sections. You're welcome.

[2017-12-20 17:27] #209 closed

[2017-12-20 19:18] mhulse commented on #209
Ahhh, you are right! Sorry that I did not catch that myself.

In fact, there's no reference to the case sensitivity of sections. I'll follow up with EditorConfig repo/folks.

Thanks again!

[2017-12-20 20:59] florianb commented on #209
You're welcome - i wasn't aware this could be an issue. Happy holidays! 🎄

[2017-12-28 16:51] aaronmagi opened #210 "How is max_line_length enforced / used?"
Hi,

I'm trying to understand how max_line_length is used within Atom using your plugin.  Typically in Eclipse if I have a maximum line length set I have to select the area and hit crtl + shift + f it will reformat the code to set the proper maximum line length.  How is this achieved in Atom using this package?

Thank you

editorconfig code:

`max_line_length = 160`

[2018-01-16 18:59] florianb commented on #210
Hi @aaronmagi - we're setting Atom's setting "Preferred Line Length" according to the `max_line_length`. We leave it to Atom to "enforce" the line length. In fact it depends on Soft/Hard Wrap what happens - the soft wrap just breaks the line visually, the hard wrap adds a newline. In both cases the Wrap-Guide should be shown. But that feature might be broken since we need to follow up the latest A

[2018-01-19 12:06] mighty-pirate opened #211 "Syntax"
I am currently in the process creating a PR to add a syntax property as per https://github.com/editorconfig/editorconfig/issues/190

The idea is that a comma delimited string can be set to allow for the different language identifiers in different editors.

`syntax = cpp14,cpp`

The reasons for using a comma separated list are firstly, so there is a fallback if a syntax type cannot be found, and se

[2018-01-19 18:37] florianb commented on #211
There must exist an EditorConfig-rule before this can be implemented. I personally guess there is a lot to think about, since this would intercept the os-based file-extension handling. It would also need a standardized file format-list for the Editor-Config standard.

I will close this issue for now, since there is no immediate action we can take in this repository. And as you already found out, y

[2018-01-19 18:37] #211 closed

[2018-01-19 18:48] mighty-pirate commented on #211
Thanks and understood.

I've jumped in at the deep end based on personal need, without thinking of the bureaucracy involved.

[2018-01-19 18:56] florianb commented on #211
Now worries - i am sorry there's so much to think about.

[2018-01-19 18:57] florianb commented on #211
But i'm happy you took some action. 😄

[2018-01-22 12:58] noirbizarre commented on #204
Hi :wave: !

The package is still broken on Atom 1.23.3, any progress on the rewrite ?

[2018-01-22 13:11] florianb commented on #204
Hi - yes there is progress.
________________________________
Von: Axel Haustant <notifications@github.com>
Gesendet: Montag, 22. Januar 2018 13:58
An: sindresorhus/atom-editorconfig
Cc: Florian Breisch; Author
Betreff: Re: [sindresorhus/atom-editorconfig] atom-editorconfig is broken (#204)

Hi 👋 !

The package is still broken on Atom 1.23.3, any progress on the rewrite ?

—
You are receiving this

[2018-01-23 06:09] heavyk opened #212 "fix all files in project"
it would be cool to have the command "fix all files in project" (files that match the editorconfig rules)

[2018-01-24 11:15] noirbizarre commented on #204
Thanks for the response ! :+1:

[2018-01-24 12:04] florianb commented on #212
Hi @heavyk - thank you for suggestion. I'm adding this as a feature-request to the rewrite-milestone.

[2018-01-25 21:23] zwing99 commented on #210
i think this is broken. it does not seem to be updating for me either

[2018-01-29 15:48] stigok opened #214 "File type not determined for files without extension"
In my project I have a JavaScript file without an extension in `bin/www` that includes a hashbang on top to behave properly on Linux

[code]

The file type is correctly determined by Atom itself, but editorconfig can not identify it since it matches on file names and extensions.

Any smart work-arounds for this besides explicitly defining the files? Match on hashbangs or something?

[code]

### In

[2018-01-29 15:59] stigok commented on #214
A solution is this;

[code]

But as noted, it's very explicit.

[2018-01-30 09:27] florianb commented on #214
@stigok  - thanks for getting in touch. Editorconfig is completely glob-based, so there is no way defining file-types based on inline information. You could also try adding `bin/*` or start using symbolic links to js-files.

I close this issue, feel free to come back if there is more to discuss/ask. 😃

[2018-01-30 09:27] #214 closed

[2018-01-30 09:34] stigok commented on #214
I understand. Explicitly specifying the path seems to be the best solution. Or, yes, if everything in my `bin/` is JS, your glob is perfect too.

[2018-02-01 13:27] #149 closed

[2018-02-01 23:58] awkaiser commented on #210
**Atom 1.23.3 + editorconfig 2.2.2:**

Indeed, guides display at `80` chars when _.editorconfig_ `max_line_length` is `120`

[2018-03-07 13:18] thcolin commented on #210
Same with **Atom** `1.24.0` and **editorconfig** `2.2.2`

[2018-03-28 05:09] JourneyOver opened #216 "trim_trailing_whitespace no longer applying"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/atom-editorconfig/issues/216)

Thank you very much for contributing! :heart: Leave us any feedback, idea or issue -- we are trying hard to improve atom-editorconfig!

### Involved .editorconfig-files

[code]

### Directory structure

[code]

### Installed p

[2018-03-28 09:44] florianb commented on #216
Hi @JourneyOver - thanks for getting in touch. I currently don't know about an issue with `trim_trailing_whitespace`.

Could you please provide the output of the command `EditorConfig: Show State` (Cmd + Shift + P) for the file where Editorconfig behaves malicious?

[2018-03-28 10:39] JourneyOver commented on #216
![atom_03-28-2018_05-22-42](https://user-images.githubusercontent.com/13910285/38023521-2ba4f436-3248-11e8-9ed5-06df7ed5d5f5.png) as an example of one of the many many misbehaving.

It doesn't throw any errors/warnings or anything since I disabled the whitespace package, and the popup that comes from the "show state" is green as shown above. One thing I noticed is that it's sometimes working and t

[2018-03-28 11:04] florianb commented on #216
@JourneyOver - thank you for your detailed description. Unfortunately i cannot reproduce the behavior. It looks very much like a different package is modifying your files after editorconfig left them alone.

You're using some packages which may probably interfere with the editorconfig-settings.

For example `line-ending-converter` or `project-manager` (i already had issues in conjunction with proj

[2018-03-28 11:29] JourneyOver commented on #216
So I've temporarly disabled all of my packages other than `editorconfig` and the core packages (and themes/syntax) that atom comes with, and it's still producing the same issue..

[code]

if I go to any file that I haven't mentioned with an extension in my last reply like say a powershell script `.ps1` or say a markdown `.md` and add random whitespaces in the file it works fine, but if I try with

[2018-03-28 11:37] JourneyOver commented on #216
I can just go and re-enable the whitespace package and it'll work just fine, but it'd be nice to get whitespace triming working on editorconfig so I can stop seeing that damn orange mouse in the taskbar of atom xD

[2018-03-28 11:48] florianb commented on #216
I just saw you're already using Atom 1.25 - i guess this will be the cause for the troubles. 🙄

I will try to figure out what goes wrong here - expect an upcoming release. I'll come back to you when i have new information about the issue or i expect it to be resolved after a release.

[2018-03-28 11:52] JourneyOver commented on #216
Ah I hope it is the cause of all this, and not some other mysterious force at play..

Hope you can figure things out and get a fix out :D

[2018-04-10 19:41] rugk opened #217 "identation no longer working"
This is the first time, I discover that issue. previously it worked fine.

### Involved .editorconfig-files

JS is set to 4 spaces:
[code]

### Directory structure

does not matter

### What happens

It indents it with 2 spaces:
![image](https://user-images.githubusercontent.com/11966684/38579376-1a1bb4e2-3d07-11e8-89d5-9fd03e1874b4.png)

It also seems to ignore the "show indent guide" and "show i

[2018-04-10 19:43] rugk commented on #217
Actually it seems to be a whole Atom problem. I only started Aom with `--safe-mode` once (now restarted), and it shows me all plugins as active now, but they actually seem to be disabled.

[2018-04-10 19:47] rugk commented on #217
Closing, as it seems to be an Atom issue.

[2018-04-10 19:47] #217 closed

[2018-04-10 21:35] rugk commented on #217
Actually it seems to be a whole Atom problem. I only started Aom with `--safe-mode` once (now restarted), and it shows me all plugins as active now, but they actually seem to be disabled.

[2018-04-15 12:27] valtlai opened #218 "Highlight fails on ‘unset’ keyword"
I have .editorconfig like this:

[code]

The PHP section is highlighted like this:

![The whole “insert_final_newline = unset” line is not highlighted.](https://user-images.githubusercontent.com/5496284/38778321-efc085d4-40c0-11e8-9ce1-1b718ed73352.png)

If I change `unset` to `false`, it’s highlighted correctly:

![](https://user-images.githubusercontent.com/5496284/38778322-f167bcd6-40c0-11e8-83

[2018-04-16 07:56] florianb commented on #218
Hi @valtlai - thanks for reporting this. It will take me some time to look for this (looks like an issue with the regexes in the grammar).

You might fasten the process up if you're take a look yourself and file a PR. ☕️

[2018-04-20 09:30] vtambourine opened #219 "Uncaught TypeError: Cannot read property 'reduce' of undefined"
[Enter steps to reproduce:]

1. Open any file in the project tree.
2. Execute "EditorConfig: Show State" command from the command palette.

Expected: Editor config status shown.
Result: Error appeared.

**Atom**: 1.26.0 x64
**Electron**: 1.7.11
**OS**: Mac OS X 10.12.6
**Thrown From**: [editorconfig](https://github.com/sindresorhus/atom-editorconfig) package 2.2.2

### Stack Trace

Uncaught TypeEr

[2018-05-23 09:16] manuelbieh commented on #190
If, by "broken", you mean Atom does not respect the max_line_length setting to adjust the long line guide accordingly I still have that problem. Not sure if it ever worked but I left the `Preferred Line Length` setting in Atom untouched (defaults to 80) and usually set `max_line_length` in my `.editorconfig` to 100 but the guide is still at 80.

Is it because I don't have soft wrap enabled or does

[2018-05-23 09:18] manuelbieh commented on #210
Same with Atom `1.27.1` (and editorconfig `2.2.2`).

[2018-05-23 10:18] ameenross commented on #190
Here's the answer:

My question was i.r.t. this statement:

[2018-05-23 17:59] florianb commented on #190
Hi @ameenross, @manuelbieh - thanks for getting in touch. I started rewriting the package in order to fix this issue. Unfortunately i'm currently not making much progress since the lack of time. I'd like to give you news on this but it seems like you'll still have some patience until the package picks up to the current release of Atom again.

[2018-05-24 14:33] Redsandro opened #220 "Not working since upgrade to Atom 1.3"
Since Atom upgraded to 1.3, Atom is not setting the tab width to 4 spaces anymore.

Or it does, but then it switches back. When closing and re-opening Atom, you can clearly see every tab being 2 spaces wide, switching to 4 spaces for half a second, and switching back to 2 spaces again.

It looks like something else is overruling the `atom-editorconfig` package.

Anyone else experiencing this since

[2018-05-25 13:29] florianb commented on #204
@varemenos, yes it is - the referenced version number was wrong.

[2018-05-27 16:39] mcandre opened #221 "insert_final_newline clashes with trim_trailing_whitespace"
# Summary

I need to have the `.patch` file I am editing end with a line consisting of a single ASCII space character, followed by a final ASCII line feed character. However, Atom's EditorConfig plugin has `insert_final_newline` misbehaving when `trim_trailing_whitespace` is disabled: When I try to save the file, the EditorConfig plugin deletes the trailing space character, corrupting the patch fi

[2018-06-06 17:11] florianb commented on #221
Hi @mcandre - the `insert_final_newline`-option's intend is to let the file end with a final newline character. I'd suggest you should also disable `insert_final_newline` for patch-files.

[2018-06-12 13:00] Clijsters commented on #221
I don't really get why mcandre should disable an option which is - as described - necessary oO

[2018-06-18 11:36] the-j0k3r commented on #204
So... No point reporting bugs then, since this re-write is happening right?

[2018-07-18 19:39] jgoguen opened #222 "Failed to activate the editorconfig package"
Enter steps to reproduce:
1. Load Atom with editorconfig 2.2.2 installed and activated

**Atom**: 1.28.1 x64
**Electron**: 2.0.4
**OS**: "Fedora release
**Thrown From**: [editorconfig](https://github.com/sindresorhus/atom-editorconfig) package 2.2.2

### Stack Trace

Failed to activate the editorconfig package

[code]

### Commands

[code]

### Non-Core Packages

[code]

### Involved .editorconfig

[2018-08-01 08:22] WadeShuler opened #223 "Update Readme? Is this plugin working with latest version of Atom?"
I skimmed through the issues and I saw a few things where you said you are working on a re-write and that the feature wasn't working after a certain Atom version.

**So what is the current state of this plugin?**
Is it still mostly working with say, Atom v1.28.2? Should we not use this plugin until you get it re-written? - If this is the case, please update the README file plainly at the beginning

[2018-08-24 13:22] gavinmcfarland opened #224 "Having trouble getting editorconfig to fix existing files"
Hello. I'm trying to get editorconfig to fix existing files by running `EditorConfig: Fix File` in Atom and dispite it saying is has updated the `indent_style` of several spaces the file doesn't change.

I have Tab Type in Atoms editor settings set to `auto`.

Any ideas what could be wrong?

### Involved .editorconfig-files

[code]

### Directory structure

[code]

### Installed packages

[code]

[2018-09-04 03:39] mjlehrke commented on #220
I too have noticed this is not working.  Atom 1.30.0.

[2018-09-06 09:31] florianb commented on #220
Hi @mjlehrke - thanks for reporting this.

[2018-09-12 16:31] GrayedFox opened #226 "Editor config not working with Atom 1.26.1 (Ubuntu 18.04 LTS)"
Ahoy, I cannot see the "editorconfig" mouse an any file and have experimented with changing the editor config settings (say, changing max char length to 120 chars) but the preferred line length never updates to 120 and the line inside Atom IDE remains at 80 chars length (unless I change it in the Atom prefs).

![line_length_atom](https://user-images.githubusercontent.com/6493307/45439452-165a7780-

[2018-09-13 19:09] jesteves opened #227 "Support for Latin1 (fixed)"
Hello.  EditorConfig supports charset Latin1 with setting `charset = latin1` but Atom (1.30.0) does not recognize it like so.  It has to be set as `ISO 8859-1` (or `Western (Windows 1252)`, actually).

I've implemented this fix:

[code]

Hope you can consider it for merge.

Regards!

### Involved .editorconfig-files

[code]

### Directory structure

Skipped.

### Installed packages

[code]

[2018-10-01 08:43] lobsterdore commented on #220
I am seeing this as well with 1.31.1 on Ubuntu Bionic, Editor config kicks in briefly for opened files but always reverts to the Atom defaults after a few seconds.

[2018-10-24 20:21] trusktr opened #228 "Button to toggle auto-format on/off"
Sometimes (f.e. when `trim_trailing_whitespace` is turned on), I don't want the editor to modify the file on save. Most of the time I do, but sometimes I don't.

It'd be nice if editorconfig had a button like the `prettier` package does, to toggle auto-format on save on/off.

Here's what the prettier button looks like in the bottom status bar:

![screen shot 2018-10-24 at 1 19 22 pm](https://user-

[2018-11-09 19:10] bigxiang opened #229 "Uncaught TypeError: Cannot read property 'tree' of null"
Hi, I encountered an error when using the `git-time-machine` plugin. Atom says the error is raised by `editorconfig`.

Here is how I get this error:

1. Open a repository
2. Open a file
3. Toggle time machine on
4. Click on a history revision of this file to compare it
5. I am supposed to not see any errors, but there is an error pop up.

**Atom**: 1.32.2 x64
**Electron**: 2.0.9
**OS**: Mac OS X 1

[2018-11-16 08:09] p-boiko commented on #196
Another temp workaround: disable and enable the package

[2018-11-20 15:10] EdwinHuijsing commented on #220
Have two project
project A: php and it is a git repo
project B: php and it is not git repo

In project A editorconfig works, in projectB  it does not work.
In the developers tools I noted a error about missing git repo in project B. That's the moment I run `git init`, reopen the current document.  And all is working now.

So the workaround around is: **_make the project directory a git repo_**.

A

[2018-11-23 09:04] AlexWayfer commented on #46
I've found necessary thing: https://github.com/editorconfig/editorconfig-defaults

I think plugins just can use the official JSON.

[2018-11-29 10:27] qwelias opened #230 "Is this package still maintained?"
There's a lot of issues related to recent Atom versions, and it doesn't seems like anyone cares to fix them.
Should the package be marked as obsolete?

Not to blame anyone, just to make it clear.

[2018-12-10 08:51] florianb commented on #230
Thanks @qwelias - I've been pushing that step too long. I will officially drop the maintenance for the package but i offer to stay here as a "maintainer" helping anybody who wants to pick it up.

I'm going to write a separate text the current state of the package.

[2018-12-10 08:51] #230 closed

[2018-12-10 10:26] florianb opened #231 "Unmaintained"
# Atom-Editorconfig is now Unmaintained

First of all - sorry for everybody coming here because of any issues thrown by the package. Take the opportunity and repair it if you'd like to use it.

### Why am i dropping maintenance?

I am not using Atom as my main editor anymore. One reason is i started disliking Atom as a platform for plugin-developers. When it started it was announced as the "hackab

[2018-12-10 10:37] florianb commented on #205
I decided to drop maintenance. Sorry.

See https://github.com/sindresorhus/atom-editorconfig/issues/231

[2018-12-10 10:37] #205 closed

[2018-12-10 10:37] florianb commented on #216
I decided to drop maintenance. Sorry.

See https://github.com/sindresorhus/atom-editorconfig/issues/231

[2018-12-10 10:38] florianb commented on #190
I decided to drop maintenance. Sorry.

See https://github.com/sindresorhus/atom-editorconfig/issues/231

[2018-12-10 10:38] florianb commented on #176
I decided to drop maintenance. Sorry.

See https://github.com/sindresorhus/atom-editorconfig/issues/231

[2018-12-10 10:39] florianb commented on #105
I decided to drop maintenance. Sorry.

See https://github.com/sindresorhus/atom-editorconfig/issues/231

[2018-12-24 15:54] Alhadis commented on #231
I can do it.

[2018-12-28 08:58] florianb commented on #231
I am happy to hear that @alhadis - thanks for weighing in.

@sindresorhus may consider adding you as maintainer.

[2018-12-28 11:39] sindresorhus commented on #231
Awesome! Added you, @Alhadis.

I'm gonna keep this issue open until `atom-editorconfig` is in a better and working shape. We could always use more contributors and maintainers.

[2018-12-28 11:49] Alhadis commented on #231
Not a problem. 👍 Will look at fixing some outstanding issues after the holidays, starting with the trailing-line bug (which is what I came here to report).

[2018-12-28 11:55] sindresorhus commented on #231
I would also try to prioritize getting the open PRs merged or closed.

[2019-01-08 19:58] mcandre commented on #220
Yeah, atom-editorconfig is acting off on macOS as well.

[2019-01-16 18:41] Arcanemagus commented on #187
The linked PR has now merged, breaking this package on the nightly builds of Atom 😉.

[2019-01-28 01:01] liatreis opened #232 "Uncaught TypeError: wrapGuide.updateGuide is not a function"
1. Searched for a word in a file
2. Results in search bar showing 5 (or sometimes non although there are 5) but not highlighted in the file

**Atom**: 1.36.0-nightly9 x64
**Electron**: 2.0.16
**OS**: Mac OS X 10.12.6
**Thrown From**: [editorconfig](https://github.com/sindresorhus/atom-editorconfig) package 2.2.2

### Stack Trace

Uncaught TypeError: wrapGuide.updateGuide is not a function

[code]

[2019-02-11 03:43] adamreisnz commented on #232
I'm being spammed by this issue every time I switch to another file/tab. Latest nightly.

[2019-02-13 06:36] the-j0k3r commented on #231
Various fixes and improvements have gone in since 2.2.2 now a year old release

Please consider making a new release sooner rather than later. @sindresorhus @florianb

[2019-02-13 08:20] Alhadis commented on #231
Shit, sorry it's taken so long to get back to this. 😞

Will try to cut an emergency release for this and #232 ASAFP.

[2019-02-13 08:20] #222 closed

[2019-02-13 08:22] Arcanemagus commented on #231
I would _highly_ recommend getting [`@semantic-release/apm-config`](https://github.com/semantic-release/apm-config) configured, it has the downside of all commits (that you want to trigger a build) needing to follow a standard... but the major upside that as soon as you make any commit or merge something to `master` that should trigger a release, it's done automatically.

[2019-02-13 08:25] Alhadis commented on #231
That can wait until we've lifted this package out of hot water, fixed the regression tests, and have a codebase in better shape before concerning ourselves about ancillary elements.

[2019-02-13 08:34] the-j0k3r commented on #229
These errors seem unrelated to this project and rather related to Atom

[2019-02-13 08:38] the-j0k3r commented on #227
Why not submit a pull request instead?

[2019-02-13 09:26] #232 closed

[2019-02-13 09:28] Alhadis commented on #232
Heads up: I believe this issue was introduced by the [recent addition](https://github.com/atom/wrap-guide/commit/ff2cb69acf75da7b599da711c639995116f8bc61) of multiple wrap-guides (see [`atom/wrap-guide#56`](https://github.com/atom/wrap-guide/pull/56)). I've fixed the issue, but things won't play nicely if one has multiple wrap-guides set in their `config.cson` files.

[2019-02-13 09:34] #227 closed

[2019-02-13 09:35] Alhadis commented on #227
Added, thanks!

[2019-02-13 18:17] Alhadis commented on #229
Whatever they're related to, I can't reproduce this locally. Going by the stack trace, I'd say this was indeed an upstream error, and something that was fixed in the time since this issue was opened.

@bigxiang If this happens again, please open a new issue. We'll sort it out then.

[2019-02-13 18:17] #229 closed

[2019-02-13 18:22] Alhadis commented on #226
This should have been fixed in 021d0ea (I noticed the same phenomenon while working on a fix for #232). If you see this happening after the next package release, don't hesitate to speak up. 👍

Just an FYI: GitHub Markdown supports `<details>…</details>` tags, which can be used to enclose massive amounts of text:

[code]

## Output:

<details>

**NOTE:** The blank lines before and after the `<detai

[2019-02-13 18:22] #226 closed

[2019-02-13 18:50] Alhadis commented on #190
This should have been fixed by 021d0ea. See related issues #232 and #226.

Gonna close this as resolved; if any of you experience this again, don't hesitate to open a new issue. 👍

[2019-02-13 21:12] #218 closed

[2019-02-13 21:12] #223 closed

[2019-02-13 21:13] Alhadis commented on #218
Rewritten grammar completely to be more permissive and structured.

Don't worry, I've done this before. Like, uh, [~20 times](https://atom.io/users/alhadis/packages).

[2019-02-13 21:15] Alhadis commented on #223
I'm now maintaining it. =) On the verge of cutting a new release, so if you uninstalled it, be ready to re-install. 👍

[2019-02-13 21:42] #220 closed

[2019-02-13 21:44] Alhadis commented on #220
It's really odd this is happening only for non-Git projects. I'm guessing the activation of a Git-related core package triggered a refresh of open editors at startup.

Anyway, the fix I've applied in 304836a isn't perfect... the flickering is still visible, but at least it settles with the correct properties applied. If anybody's still experiencing this issue, please let me know.

[2019-02-14 09:18] ameenross commented on #190
Thanks for taking over this project! What version of Atom do we need for this to work? I'm not seeing it yet.

[2019-02-14 09:26] Alhadis commented on #190
@ameenross I tested this with the latest Atom Nightly (`1.37.0-nightly0`) as well as stable (`1.34.0`). Could you provide a list of which packages you have installed/activated? It's possible there's something screwing with the package (as usual…)

[2019-02-14 09:49] ameenross commented on #190
@Alhadis

[code]

[2019-02-14 10:20] Alhadis commented on #190
Ah sorry, forgot to mention: Could you include the version of Atom you have installed?

Wouldn't hurt to grab what system you're running too (and the version/distro, if possible).

At a glance, can't see any packages there that look like they'd be troublemakers. 😕

[2019-02-14 10:46] ameenross commented on #190
Ubuntu 18.04, Atom 1.34.0

Also, disabling all community packages except editorconfig did not make the wrap guide work, it stays at 80 chars

[2019-02-14 10:51] Alhadis commented on #190
Alright, few questions about the workspace:

1. Is the root folder of the project a Git repository?
2. What file are you testing this with when you say the wrap-guide isn't working?
3. What are the rules stored in your `.editorconfig` file(s)?

[2019-02-14 11:00] ameenross commented on #190
The project is a git repo, editing a PHP file with these rules:

[code]

[2019-02-14 11:27] Alhadis commented on #190
Alright, what about the file's physical path? Does it reside within one of the project folders, or is it located outside the root directory?

Also, are you seeing this in an editor you had open when the editor was launched? There's currently some bugginess with editors which are open at startup... try closing the file and reopening it. Does that help?

[2019-02-14 11:42] ameenross commented on #190
FWIW, the other properties do work, like indent_size. Just changed it to 6 to test.
It's in the root of the project.

I'm working right now, so opening and closing PHP files regularly. Don't see it.

[2019-02-14 11:55] Alhadis commented on #190
Reopening this, as there's (obviously) still an issue here.

Does a `max_line_length` of less than 80 (e.g., ~30-40) make a difference? Trying to gauge if this issue is connected to [`atom/wrap-guide#56`](https://github.com/atom/wrap-guide/pull/56), which I had to kludge a fix for to stop breakage in nightly releases (#232).

The fix I applied isn't perfect because it doesn't consider multiple gui

[2019-02-14 13:03] ameenross commented on #190
No difference.

Also tried moving `~/.atom` for a fresh profile, installing editorconfig and nothing else, still no go.

[2019-03-25 16:56] MagicMarvMan commented on #232
I'm being spammed by this issue every time I switch to another file/tab. Latest nightly. @Alhadis

[2019-03-25 16:56] MagicMarvMan commented on #232
Me too. @Alhadis

[2019-03-25 18:29] Alhadis commented on #232
@MagicMarvMan That really doesn't tell me much. Is it this *exact* same error, with the precise message, or something else? What OS and version of Atom are you running? Do you have the latest version of `editorconfig` installed?

[2019-03-25 18:38] Alhadis commented on #232
I just ran the test suite in Atom Nightly. They pass fine, and I can't reproduce the issue.

Whatever you're experiencing is probably unrelated (if you have the latest version of each program/package installed), or due to an outdated installation.

[2019-04-02 01:37] dennisgaebel commented on #219
This still occurs with Atom 1.35.1 running on Mojave OS

[2019-04-02 04:20] Alhadis commented on #219
@dennisgaebel Are you using Nuclide as well?

[2019-04-02 11:38] dennisgaebel commented on #219
@Alhadis Nope. What else can I provide to help remedy this bug?

[2019-04-02 11:51] Alhadis commented on #219
Stack traces, a list of non-core packages you have installed, and what packages you purposefully disabled (if any). Similar to what @vtambourine provided in the OP.

Nuclide uses a very different set of UI components for Atom's workspace, replacing elements such as the `file-tree` with a more sophisticated project-browser, as well as other non-trivial replacements. These are the sorts of things th

[2019-04-02 12:57] dennisgaebel commented on #219
@Alhadis Here are those deets. There is no Core packages that have been disabled on my end.

**Stack Trace**

``Uncaught TypeError: Cannot read property 'reduce' of undefined``

[code]

**Non-Core Community Packages**
[code]

[2019-04-02 22:43] Alhadis commented on #219
Gonna give this a thorough test and clean up. The exact error which was reported in the OP has so far been unreproducible, but the immediate fix is self-explanatory (check if value is null-ish before attempting to access a property or method).

Already patched it locally, will push as soon as I've finished trying to recreate the error...

[2019-04-03 05:48] #219 closed

[2019-04-03 05:48] Alhadis commented on #219
Still couldn't reproduce the exact stack trace, but at this point, I'm pretty damn sure it's no longer an issue...

<img src="https://user-images.githubusercontent.com/2346707/55452621-26b94c00-5624-11e9-986f-e7f7e89cecfc.png" alt="Figure 1" />

<img src="https://user-images.githubusercontent.com/2346707/55453595-3fc3fc00-5628-11e9-8056-7ee126c6bbb1.png" alt="Figure 2" width="45%" valign="top" />

[2019-04-03 12:30] dennisgaebel commented on #219
@Alhadis Thanks for the fix! 👍 🍻

[2019-04-14 08:57] titovanton commented on #232
and me
@Alhadis
which data I need to share with you, to make this reproducable?

[2019-04-14 09:03] Alhadis commented on #232
I'll repeat [my own comment](https://github.com/sindresorhus/atom-editorconfig/issues/232#issuecomment-476323401):

[2019-04-14 09:43] titovanton commented on #232
@Alhadis
sorry for the useless report
I've just updated all packeges, the issue is gone. @liatreis , do the same :)

[2019-04-19 03:36] trusktr commented on #232
After upgrading to Atom 1.36.0, I am now getting this error.

<img width="462" alt="Screen Shot 2019-04-18 at 8 36 33 PM" src="https://user-images.githubusercontent.com/297678/56404104-aac12580-6219-11e9-81e9-0b2d33caf9fa.png">

<details>
  <summary>debug info with package info</summary>

[code]

</details>

[2019-04-19 14:55] stevenvaleri commented on #232
Same issue - occurs every time I switch windows.

<img width="461" alt="Screen Shot 2019-04-19 at 10 53 47 AM" src="https://user-images.githubusercontent.com/36134483/56429612-8f91fc80-6291-11e9-9f47-cdd98e234b43.png">

    at Object.applySettings (/Users/valerst/.atom/packages/editorconfig/index.js:102:17)
    at observeActivePaneItem (/Users/valerst/.atom/packages/editorconfig/index.js:244:36)

[2019-04-19 23:18] trusktr commented on #232
I spoke too soon before noticing that the fix is already released in v2.4.0. Thanks @Alhadis ! 🙏

[2019-04-24 10:56] Alhadis commented on #232
Oh good! I'm relieved to hear that.

@stevenvaleri Could you please confirm you're using `editorconfig` v2.4.0? (The latest). You may need to uninstall and reinstall if the package isn't updating itself automatically.

[2019-04-24 12:34] stevenvaleri commented on #232
Yes - reinstalling the editorconfig worked. Thanks!!

[2019-04-24 12:42] Alhadis commented on #232
Awesome!

Alright, gonna lock this so users are encouraged to open new issues instead of here. For anybody who's experiencing a similar-looking error, make sure you've updated before reporting.

I'll update the OP so this is a bit more visible to anybody who might be coming here after clicking **"This issue has already been reported"** link in the error notice. Thanks everybody for being patient w

[2019-05-04 19:08] MarkMartynov1 opened #233 "new"
Thank you very much for contributing! :heart: Leave us any feedback, idea or issue -- we are trying hard to improve atom-editorconfig!

### Involved .editorconfig-files

[code]

### Directory structure

[code]

### Installed packages

[code]

[2019-05-05 06:40] #233 closed

[2019-05-19 19:58] hcbiz opened #234 "Multi-page"
Thank you very much for contributing! :heart: Leave us any feedback, idea or issue -- we are trying hard to improve atom-editorconfig!

### Involved .editorconfig-files

[code]

### Directory structure

[code]

### Installed packages

[code]

[2019-05-19 20:15] Alhadis commented on #234
I'm sorry, what do you mean by "multiple pages"? Can you elaborate?

Also, please tell me what version of `editorconfig` and Atom you're using.

[2019-05-20 07:51] hcbiz commented on #234
Each time you open a new document, a separate UI detatched from the
previous one is created rather than opening it side by side

On Sun, May 19, 2019 at 9:15 PM John Gardner <notifications@github.com>
wrote:

[2019-05-20 08:00] Alhadis commented on #234
I'm still confused. Please take some screenshots (preferably before and after the incident occurs).

[2019-05-21 15:14] Alhadis commented on #234
@hcbiz, if you're unsure how to take a screenshot, [this site can help you](https://www.take-a-screenshot.org/).

[2019-05-28 05:49] #192 closed

[2019-05-28 05:51] sindresorhus commented on #7
I think we could use block decorations for this:
- https://atom.io/docs/api/v1.3.1/Decoration
- https://blog.atom.io/2016/02/03/introducing-block-decorations.html

[2019-06-04 15:01] sasikanth513 commented on #216
I just tested this functionality in atom `1.37.0` and followed the steps as mentioned by OP, everything is working fine.

Any one facing same issues? Any repo with files to reproduce this issue would be great. 😄

[2019-06-11 13:24] ameenross commented on #190
I must admit that I recently saw the length guide working. Maybe a month ago or so.

Might have been version 2.4.0, I'm not sure.

[2019-07-05 16:17] Alhadis commented on #234
No response from submitter; closing.

[2019-07-05 16:17] #234 closed

[2019-07-05 16:19] #208 closed

[2019-07-05 16:20] Alhadis commented on #201
Closing this, as it was already fixed in an earlier commit.

[2019-07-05 16:20] #201 closed

[2019-07-05 16:40] Alhadis commented on #203
Nothing to do here, really. We're already using the `TextBuffer` API's methods for efficient searching/replacing; the optimisations referred to in atom/whitespace#157 were [addressing](https://github.com/atom/whitespace/pull/157/files#diff-999ca9bc5b8ad0899cf005e082ab9240L150) the use of `String.prototype.search` instead of the search logic provided natively TextBuffer.

[2019-07-05 16:40] #203 closed

[2019-07-05 16:44] Alhadis commented on #216
Yeah, same. Unable to reproduce this whatsoever; I'm guessing I must've fixed it in a previous release. 😅

If you're still experiencing this, please let me know.

[2019-07-05 16:44] #216 closed

[2019-07-09 22:12] Alhadis commented on #228
IMHO, that's stepping outside the responsibilities of this package. EditorConfig isn't an auto-formatter in the sense that Prettier is; it's simply enforcing basic formatting settings at the behest of the project's author.

I can add a command for saving a file without normalisation, but I don't want to make it too easy for users to skip normalisation willy-nilly. There's a reason files are config

[2019-07-09 22:26] Alhadis commented on #159
Currently, any EditorConfig setting that's `unset` will defer to the usual default configured in Atom's settings. This is a sane fallback with minimal surprises; if a user wishes to configure their preferred default, it can be done in `~/.atom/config.cson` instead of duplicating the preference between two config files (`~/.atom/config.cson` and `~/.atom/.editorconfig`).

As for the `whitespace` pa

[2019-07-09 22:26] #159 closed

[2019-07-19 20:45] rejhgadellaa commented on #212
+1

[2019-12-16 19:27] robcrowther commented on #133
Soft wrap no longer works anymore.

[2020-01-06 09:53] florianb commented on #231
@Alhadis you're doing great work and thank you for your efforts - i guess we can close this issue? It would probably be a good idea to create "Searching for Contributors"-issue?

[2020-01-06 09:57] florianb commented on #133
@robcrowther - thank you for your contribution. It is unlikely that your observed behavior is connected to this issue due to code-changes. I'd recommend you to open a new issue instead of following up on this one.

[2020-01-06 10:10] Alhadis commented on #231
@florianb Possibly. I was hesitant to close this issue because I felt it was @sindresorhus's prerogative, rather than mine.

[2020-01-06 10:18] sindresorhus commented on #231
I think I just forgot to do so. Thanks for all your work @Alhadis 🙌

[2020-01-06 10:18] #231 closed

[2020-01-14 23:58] #141 closed

[2020-02-11 06:41] AlexWayfer opened #237 "[Blocked by Atom] Ability to apply corresponding settings for code blocks in Markdown"
Hello!

I have a kind of suggestion: in Markdown files we have code blocks. And Atom highlight them correctly. And we often have code blocks inside Markdown. And often indentation of Markdown itself and code in Markdown blocks are different. For example, Markdown should has 4-spaces indentation, and Ruby should 2-spaces. And it's uncomfortable, because with 4-spaces for Markdown we have the same i

[2020-02-11 08:23] Alhadis commented on #237
This is beyond Atom's capabilities. For this package to support such a feature, we'd have to hack the core indentation mechanics, which is *well* outside its responsibility. Consider filing an issue [upstream](https://github.com/atom/atom) instead.

[2020-02-11 08:42] AlexWayfer commented on #237
`atom-editorconfig` already hacks indentation, changing it on the fly, does not it?

Is it in Atom's capabilities to give `atom-editorconfig` the grammar of code where is cursor now?

[2020-02-11 08:55] Alhadis commented on #237
No, it modifies the settings that an editor is configured with when opened or saving to a file. I'm talking about the physical command that's executed when pressing <kbd>TAB</kbd>, as well as any part of the API that reads an editor's configured indentation width.

It is, but Atom doesn't support scoping editor-settings to specific blocks — only the entire editor.

[2020-02-11 09:32] AlexWayfer commented on #237
OK, I've created https://github.com/atom/atom/issues/20402 and updated the title of this issue.

You can close if you want to, until upstream issue is not resolved. Or you can leave it open to track.

[2020-02-11 09:34] Alhadis commented on #237
I'll close it for now. Feel free to ping me here if there's any progress upstream.

[2020-02-11 09:34] #237 closed

[2020-02-11 13:39] AlexWayfer commented on #237
Does [the response in upstream](https://github.com/atom/atom/issues/20402#issuecomment-584637124) help?

[2020-02-11 13:50] Alhadis commented on #237
No, it doesn't. Scoped settings (or at least `editor.tabLength`) aren't respected in embedded code-blocks; I suspect @UziTech may have misunderstood the issue.

[2020-02-11 14:49] UziTech commented on #237
But are they supposed to be respected?

[2020-02-11 14:53] UziTech commented on #237
according to the [documentation](https://flight-manual.atom.io/behind-atom/sections/scoped-settings-scopes-and-scope-descriptors/) and my test in https://github.com/atom/atom/issues/20402#issuecomment-584652561 they are respected. It is only displaying the tab length that isn't working correctly.

[2020-02-11 15:01] Alhadis commented on #237
And what about maximum line-length and indent style?

[2020-02-11 16:36] UziTech commented on #237
looking at Atom's text editor [source code](https://github.com/atom/atom/blob/master/src/text-editor.js) it looks like it is only possible to set these setting per editor not per scope.

I think this should be possible and was the original idea behind scoped settings.

[2020-03-09 08:47] brettz9 opened #238 "Accommodating language-specific rules, config, and scopes"
Hi,

First off, thank you for your work on making this useful tool "just work".

I've run into a couple lesser areas in which it would be nice to have resolution, both related to language-specific features:

1. The focus on file name matching in the `.editorconfig` [spec](file) doesn't seem to be able to take advantage of the Atom-support for multiple scopes within a file (e.g., JavaScript blocks

[2020-03-10 09:47] Alhadis commented on #238
See #237. This is a [limitation](https://github.com/sindresorhus/atom-editorconfig/issues/237#issuecomment-584531927) of Atom's APIs, and something that needs to be addressed at the core-level.

EditorConfig isn't a linter; it's a means to facilitate contributions from people with different coding preferences. I think you'll find projects without `.editorconfig` files simply lack them because the

[2020-03-18 18:25] Treeway7 opened #239 "Option to preserve whitespace on cursor on autosave"
This is an extension of issue #207.

I hit enter to type another statement, and editorconfig deletes the indentation, due to autosave.

![6fDVk9nSy7](https://user-images.githubusercontent.com/56928485/76994894-0c53ad80-691d-11ea-87fe-3d3a0f179406.gif)

The reason why I made this issue is because VSCode offers a fix specifically for autosave.
https://github.com/Microsoft/vscode/issues/24400

### In

[2020-03-29 13:53] Alhadis commented on #239
👋 Hey there, sorry for the wait. I've just installed the `autosave-onchange` package and noticed the problem immediately. Atom's `autosave` package does the same thing as well, although it's much less noticeable since it only autosaves an editor when it loses focus. Unfortunately, neither of these packages provide a way to distinguish between an automated save and a manual (user-triggered) save.

[2020-03-30 04:35] crstauf opened #240 "Multiple paths unsupported?"
### Involved .editorconfig-files

[code]

I have also tried (which I think is how the [doc indicates](https://editorconfig-specification.readthedocs.io/en/latest/#id4) it should be?):

[code]

[code]

### Directory structure

[code]

On both `bar/bar.txt` and `foo/foo.txt`, after running the "Show State" command, the popup indicates no config was applied.

<img width="472" alt="Screen Shot 2020-03

[2020-03-30 04:52] Alhadis commented on #240
Does `{foo,bar}/**` work?

[2020-03-30 05:08] crstauf commented on #240
@Alhadis Indeed it does; thanks!

What should the selector be to have two different file extensions in different directories to use the same config be?

Pseudo section name: `[{foo/**.txt,bar/**.md}]`

[2020-03-30 05:09] Alhadis commented on #240
Two different sections with identical entries. :wink:

[2020-03-30 05:33] crstauf commented on #240
Bleh, not the answer I was hoping for (not ideal), but I understand.

Thanks for the help, @Alhadis!

[2020-03-30 05:33] #240 closed

[2020-03-30 15:14] curiousercreative opened #241 "Developer should have a preference for disabling "newline conversion on save" feature"
### Involved .editorconfig-files
[code]

### Problem
[Release 2.5.0](https://github.com/sindresorhus/atom-editorconfig/releases/tag/v2.5.0) included a behavior change in how "end_of_line" setting behaves. Prior to 2.5.0, existing new line characters would NOT be conformed to the value defined on save. After 2.5.0, existing new line characters ARE conformed to the value defined on save.

_This new

[2020-03-31 00:00] Alhadis commented on #241
@curiousercreative What's the point of using `end_of_line = lf` if it won't be respected, then? Converting newlines on-save was fixing a bug that had been quietly plaguing the package for quite some time.

If you don't want to enforce a particular newline style in a project, then I suggest not adding `end_of_line` to your project's `.editorconfig`.

[2020-03-31 00:00] #241 closed

[2020-03-31 00:04] curiousercreative commented on #241
@Alhadis fair enough, but as answer: Our codebase is 20 years old and while our team wants all new files to conform, we'd prefer a 20 year old file that has a single line changed to not be forced into a whole file diff as a result to this conforming. I believe that's what I get when using 2.4.0. Ultimately, my team should probably just update the new lines for the entire project in one go...

[2020-03-31 01:06] Alhadis commented on #241
Definitely. Either that, or enforcing `CRLF` for new files; like tabs and spaces, it's best to be consistent about one or the other.

[2020-04-06 21:27] 7automaton commented on #239
Sorry for my own late response as well.

Thanks for explaining. Is there anything I could do to possibly get this autosave plugin to work with editorconfig? Maybe I could leave an issue or whatnot?

[2020-04-11 23:03] Alhadis commented on #239
If you could, that'd be great. 👍

[2020-04-13 23:10] TJProgrammer opened #242 "The editor doesn't follow the .editorconfig options"
Please see https://github.com/prettier/prettier-atom/issues/715

### Involved .editorconfig-files

[code]

### Directory structure

[code]

### Installed packages

[code]

[2020-04-14 10:26] florianb commented on #242
Hi @TJProgrammer - what exactly is your issue?

[2020-04-14 13:49] TJProgrammer commented on #242
Hi @florianb.
When I try to fix my `.md` files, editorconfig doesn't repair a 2 spaces indent to 4 spaces.

[2020-04-14 14:44] florianb commented on #242
@TJProgrammer how do you invoke the fix?

[2020-04-14 14:58] TJProgrammer commented on #242
From command pallette.

[2020-04-14 14:59] florianb commented on #242
Okay - and you have the file you're trying to fix open?

[2020-04-14 15:01] TJProgrammer commented on #242
Yup 👍

[2020-04-14 15:01] TJProgrammer commented on #242
Yup 👍

[2020-04-14 15:10] florianb commented on #242
@TJProgrammer i just got it, you're trying to fix from spaces to spaces, this is not implemented because it is impossible to fix.

Since we don't know with how many spaces the indentation in the current file is laid out, we can't safely change the indentation.

[2020-04-14 23:16] TJProgrammer commented on #242
But if I want to fix it, the script just has to do the indentation according `.editorconfig` file, no?

And, when I indent pressing twice the `tab` key (2 spaces * 2), the files seems to translate it to a `hard tab` instead of a `soft tab`.

And I opened this issue because the `.md` files need the 4 spaces of indentation to make a sublist working.

[2020-04-15 08:19] florianb commented on #242
When editing the file, the current rules should be applied to your textbuffer. You might check the applied rules using `EditorConfig: Check State`.

The Fix-command works only for transformations between tabs and spaces.

If you press the tab key twice and the check state command shows you spaces are applied it is very likely another plugin is interfering the settings.

[2020-04-15 13:28] TJProgrammer commented on #242
Ok, thank you. I'll see another plugins in my atom editor.

PS: I checked the same file with `nano` and all indentatio is in spaces (as you said, some configuration or the edito itself behaves like that).

[2020-04-15 13:28] #242 closed

[2020-04-15 13:46] florianb commented on #242
You're welcome @TJProgrammer!

[2020-05-09 16:32] vizzale opened #243 "EditorConfig does not report any file inconsistencies based on the configuration file"
First of all thank you for your work.

I have two doubts, I still don't know if they are problems with the package or if it depends on my incorrect use.
1) If I create an .editorconfig file inside a project folder with files it already exists I know that changing the settings of the file these do not apply to existing files. But by opening these files should the system not at least notify me if th

[2020-05-18 22:34] max-arias commented on #7
Hi, what's the status of this? Still need help?

[2020-05-24 03:26] Alhadis commented on #7
👋  Hi @max-arias, sorry for the slow response. Had my hands full.

If you'd like to submit a pull-request to integrate the package with Atom's  `autocomplete` API, by all means, go ahead! 😉

[2020-06-02 10:03] AlexWayfer opened #244 "Unrecognized declaration name `max_line_length`"
![image](https://user-images.githubusercontent.com/6510020/83507621-779b2d80-a4d1-11ea-8adf-fbe62c6903b7.png)

![image](https://user-images.githubusercontent.com/6510020/83507467-44589e80-a4d1-11ea-98cc-fd6b6e843a5c.png)

### Involved .editorconfig-files

[code]

### Directory structure

Doesn't matter.

### Installed packages

[code]

[2020-06-02 10:25] Alhadis commented on #244
Good catch. Seems like #236 overlooked EditorConfig settings that [aren't mandatory](https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#supported-by-a-limited-number-of-editors) (or in their words, _"supported by a limited number of editors"_, of which Atom is one of them).

Will fix.

[2020-06-02 11:56] #244 closed

[2020-06-02 11:57] Alhadis commented on #244
Sorry about the wait. I had to investigate why the `linter` specs weren't running (which required a little research). This should be fixed in the next release. :)

[2020-06-02 12:27] AlexWayfer commented on #244
No problem, thank you very much!

[2020-06-19 09:44] warden opened #245 "Whitespace core package conflicting with editorconfig settings"
1 problem affecting .editorconfig

whitespace: It is possible that the "whitespace"-package prevents the following properties from working reliably: insert_final_newline, trim_trailing_whitespace. You may try reconfiguring or disabling the "whitespace"-package to solve regarding issues.

### Involved .editorconfig-files

[code]

### Directory structure

irrelevant

### Installed packages

[code]

[2020-06-30 13:45] Alhadis commented on #245
What exactly is the issue, here? The explanation (and solution) was already included in the text you quoted (emphasis mine):

Moreover, you haven't told us anything about the affected files, or even *how* they're being affected…

[2020-06-30 14:11] Alhadis commented on #243
What OS are you running, and what setting is `File System Watcher` configured with? Open **Settings** → **Core** and look for a field that looks like this:

<img src="https://user-images.githubusercontent.com/2346707/86134940-88b97780-bb2d-11ea-89bd-b7e2ed6d0713.png" alt="Figure 1" />

The issue you're describing sounds like it might be an issue with Atom's ability to dispatch or respond to filesy

[2020-06-30 14:43] warden commented on #245
Sorry for not stating it clearly enough, I thought that the title was descriptive enough.
The problem here is that there is a warning displayed against *a core built-in* package - hence, no, disabling a core package is not a solution for me and I don't think that a plugin should be conflicting with core functionalities resulting in displaying a warning/error messages during startup.
If you think o

[2020-06-30 15:03] Alhadis commented on #245
Atom's `whitespace` package behaves differently to `editorconfig`: it doesn't respect (or even acknowledge the existence of) `.editorconfig` files, so when the two packages disagree about what settings to enforce for a particular editor, well… you can see how that would present a problem.

For example, given the following…

[code]

[code]

… how should trailing whitespace be handled when saving a

[2020-07-01 07:35] cfagno opened #246 "unset means atom-editorconfig is not influencing a property's behaviour."
Thank you very much for contributing! :heart: Leave us any feedback, idea or issue -- we are trying hard to improve atom-editorconfig!

### Involved .editorconfig-files

[code]

### Directory structure

[code]

### Installed packages

[code]

[2020-07-01 07:40] #246 closed

[2020-07-01 13:14] #245 closed

[2020-08-10 17:44] nmdemarco opened #247 "Peanut butter sandwich is on *rye* bread, not white bread."
These things are important. Ralph the mouse wants his sandwich on rye. Listen closely and you'll see.

Thank you very much for contributing! :heart: Leave us any feedback, idea or issue -- we are trying hard to improve atom-editorconfig!

### Involved .editorconfig-files

[code]

### Directory structure

[code]

### Installed packages

[code]

[2020-08-11 02:29] #247 closed

[2020-12-19 23:18] schwern opened #249 "tab_width is being replaced with indent_size"
I have indent_size = 4, tab_width = 8 in my .editorconfig, but Atom has set both to 4.

[code]

I need this because the Perl 5 source uses a bizarre mix of spaces and tabs. The indent_size is 4, but it mixes spaces with 8 character tabs.

* One level deep is four spaces
* Two levels is one tab
* Three levels is four spaces and a tab
* Four levels is two tabs

It's the worst, but EditorConfig shoul

[2020-12-19 23:21] schwern commented on #249
I see now this is redundant with #198 and is really an Atom issue.

[2020-12-19 23:21] #249 closed

[2021-01-24 11:29] sindresorhus opened #250 "Move to GitHub Actions"
Travis no longer provides free plan for OSS.

It should be based on https://github.com/chalk/chalk/blob/main/.github/workflows/main.yml, but made to work with Atom.

[2021-04-14 22:50] shellscape commented on #182
Given the age of the issue, I'm not sure this will be resolved. But the package is not respecting rules for `Makefile` in the `.editorconfig` file. Possibly related to this.

[2021-04-14 23:25] Alhadis commented on #182
@shellscape Whatever you're observing, it likely isn't related to this issue (@florianb likely forgot to close this after #181 turned out to be [unrelated](https://github.com/sindresorhus/atom-editorconfig/issues/181#issuecomment-281106165).

Please file a new issue for this. Remember to include your local config and list of installed packages.

[2021-04-14 23:25] #182 closed

[2021-05-10 17:44] celdorwow opened #251 "EditorConfig does not fix tabs in files."
Hello,

I am currently learning Java. I copy/paste a lot of source files from the internet, which sometimes have inconsistent tab sizes.

I work with Atom and installed EditorConfig to fix files I download. They come with 2, 3 or 4 spaces and as well as hard or soft tabs (spaces). I noticed EditorConfig in Atom does not seem to correct the tabs in any file I try. I have `Tab Type` in `Settings ->

[2021-06-12 03:18] Grafeccc opened #252 "Atom"
Thank you very much for contributing! :heart: Leave us any feedback, idea or issue -- we are trying hard to improve atom-editorconfig!

### Involved .editorconfig-files

[code]

### Directory structure

[code]

### Installed packages

[code]

[2021-09-18 07:54] the-j0k3r commented on #243
Hello

I have same/similar issue with an existing project

this is my editorconfig dot file

[code]

If I change

[code]

And rerun editor config fix file or via eclint nothing happens and editor config happily reports nothing changed.
![Capture](https://user-images.githubusercontent.com/31389848/133881190-172d2761-f641-4a8f-9d3b-bafc24387e41.PNG)

OS is Windows 10 2004 pro workstation
Atom 1.58.0

[2021-09-23 13:19] the-j0k3r commented on #243
@Alhadis thoughts? on this. Im trying to avoid to create a whole new project to workaround this.

[2022-04-02 17:50] the-j0k3r commented on #250
Plenty of examples e.g. https://github.com/bus-stop/x-terminal/tree/master/.github/workflows minimal adpation required obviously to suit this project

[2022-04-02 17:54] the-j0k3r commented on #251
possibly related https://github.com/sindresorhus/atom-editorconfig/issues/243

[2022-11-07 00:29] Alhadis commented on #252
Yeah it's dead. [Even its package registry couldn't wait to die](https://github.com/atom/atom/issues/25664).

[2022-11-07 00:29] #252 closed

[2022-11-07 00:35] Alhadis commented on #250
Atom's official sunset date is on December 15th, so between then and now, there's a slim chance of porting our tests to GitHub Actions… especially since Atom's package registry is [constantly unavailable](https://github.com/atom/atom/issues/25664) due to DDoS attacks from spam-bots publishing bullshit "packages". Which, in other words, means that the test-environment can't even be setup properly (

[2022-11-07 00:35] #250 closed

[2022-11-07 10:36] the-j0k3r commented on #250
@Alhadis for reference on our https://github.com/bus-stop/x-terminal project we have no such issues publishing/pushing updates, any of our releases continue to trigger updates within atom irrespective of any failures.